<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2017 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.autoconstructor.AutoConstructorMapper">
    <resultMap id="resultMap" type="org.apache.ibatis.autoconstructor.PrimitiveUser">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <collection property="phones" ofType="String" javaType="ArrayList">
            <result column="phone"/>
        </collection>
    </resultMap>

    <cache/>

    <sql id="testSQL">AND ${col} > 0</sql>

    <select id="getUser" resultMap="resultMap">
        SELECT user.*, phone.phone as phone FROM user
        LEFT JOIN phone ON user.id = phone.user_id
        <where>
            id = #{id}
            <include refid="testSQL">
                <property name="col" value="id"/>
            </include>
            <if test="param.name != null">
                AND name = #{param.name}
            </if>
        </where>
        <if test="sort != null">
            ORDER BY ${sort}
        </if>
    </select>

    <select id="getUserList" resultMap="resultMap">
        SELECT user.*, phone.phone as phone FROM user
        LEFT JOIN phone ON user.id = phone.user_id
        <if test="ids != null and ids.size() > 0">
        WHERE id IN
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
    </select>

    <update id="updateUser">
        UPDATE subject SET name = #{subject.name} WHERE id = #{subject.id}
    </update>
</mapper>
